---
import companyInfo from "../mocks/company.json";
---
<!-- Contact Information -->
<div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <!-- Email Card-->
  <div
    class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center text-center"
  >
    <svg
      class="w-12 h-12 text-blue-800 mb-4"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 8l9 6 9-6M4 6h16a1 1 0 011 1v12a1 1 0 01-1 1H4a1 1 0 01-1-1V7a1 1 0 011-1z"
      ></path>
    </svg>
    <h3 class="text-xl font-semibold text-blue-800 mb-2">Correo Electrónico</h3>
    <p class="text-blue-600">{companyInfo.company.email}</p>
  </div>

  <!-- Location Card-->
  <div
    class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center text-center"
  >
    <svg
      class="w-12 h-12 text-blue-800 mb-4"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5.121 9.45A4.48 4.48 0 017.5 7c.55 0 1.074.153 1.533.424.46-.27.983-.424 1.533-.424 1.573 0 2.9 1.42 2.9 3.2 0 .69-.126 1.392-.351 2.065-.284.723-.678 1.387-1.14 1.98l-2.347 2.91a.5.5 0 01-.778 0l-2.347-2.91a4.14 4.14 0 01-1.14-1.98A4.7 4.7 0 015.121 9.45z"
      ></path>
    </svg>
    <h3 class="text-xl font-semibold text-blue-800 mb-2">Dirección</h3>
    <p class="text-blue-600">{companyInfo.company.address}</p>
  </div>

  <!-- Phone Card -->
  <div
    class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center text-center"
  >
    <svg
      class="w-12 h-12 text-blue-800 mb-4"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 0h10a2 2 0 012 2v20a2 2 0 01-2 2H7a2 2 0 01-2-2V2a2 2 0 012-2z"
      ></path>
    </svg>
    <h3 class="text-xl font-semibold text-blue-800 mb-2">Teléfono</h3>
    <p class="text-blue-600">{companyInfo.company.phone}</p>
  </div>
</div>
