---
const id = "conocenos";
---

<section id={id} class="w-full">
  <div class="w-full h-full bg-blue-200 rounded-lg py-10">
    <div
      class="container mx-auto flex flex-col-reverse sm:flex-row w-full sm:gap-6 gap-14 min-h-[615px] p-4"
    >
      <div class="basis-1/2 flex items-center justify-center">
        <img
          src="/team.jpg"
          alt=""
          class="w-full h-full object-cover rounded-lg shadow-lg"
        />
      </div>

      <div class="basis-1/2 flex items-center">
        <div
          class="w-full h-full bg-white bg-opacity-80 p-6 rounded-lg shadow-lg flex flex-col items-center justify-around"
        >
          <h2
            class="text-start text-blue-800 text-6xl sm:text-[48px] sm:leading-[58px] max-sm:text-[36px] max-sm:leading-[46px] py-2"
          >
            Profesionales y comprometidos
          </h2>
          <p class="text-start text-blue-800 text-xl sm:text-xl leading-loose">
            “En <span class="font-semibold">Nevado</span>, somos una empresa
            peruana dedicada al procesamiento y comercialización de insumos no
            metálicos para diversas industrias. Nuestro compromiso con la
            calidad y la innovación nos impulsa a ofrecer productos que superen
            las expectativas de nuestros clientes.<br /> Contamos con una infraestructura
            moderna y equipada con maquinaria avanzada, operada por un equipo altamente
            calificado y comprometido con la excelencia. Realizamos evaluaciones
            periódicas de nuestras prácticas de calidad para asegurar la mejora continua
            en nuestros procesos, productos y servicios, cumpliendo siempre con las
            leyes y regulaciones vigentes. Además, estamos certificados bajo la norma
            <span class="font-semibold">ISO 9001:2015</span>
            , que respalda nuestro modelo de gestión de calidad enfocado en la producción
            y comercialización de productos minerales no metálicos para la industria.”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
