---
const id = "inicio";
---

<section
  id={id}
  class="w-full flex xl:flex-row flex-col justify-center min-h-screen gap-10 max-container border-black"
  style="
  background-image: url('/fabrica.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
"
>
  <div
    class="relative xl:w-2/5 flex flex-col justify-center items-center w-full p-6 pt-28"
  >
    <h1
      class="relative text-center text-blue-800 text-6xl sm:text-[48px] sm:leading-[58px] max-sm:text-[36px] max-sm:leading-[46px] font-bold mb-4 bg-white bg-opacity-20 p-6 rounded-lg shadow-lg"
    >
      Comercialización de productos químicos para industrias
    </h1>
    <div class="text-center mt-4">
      <a
        href="#productos"
        class="bg-blue-800 text-white py-2 px-6 rounded-lg font-semibold text-lg shadow-md hover:bg-blue-600 transition duration-300 ease-in-out"
      >
        Productos
      </a>
    </div>
  </div>
</section>
