---
import ProductCard from "../components/ProductCard.astro";
const id = "productos";
---

<section id={id} class="w-full bg-blue-50">
  <div class="bg-blue-200 rounded-lg py-6">
    <h1
      class="text-center text-blue-800 text-6xl sm:text-[48px] sm:leading-[58px] max-sm:text-[36px] max-sm:leading-[46px]"
    >
      PRODUCTOS
    </h1>
  </div>
  <div
    class="container mx-auto grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 sm:gap-6 gap-14 p-4 py-14"
  >
    <ProductCard />
  </div>
</section>
